//Colors
$hourColor: red
$minuteColor: white
$secondColor: blue
$backgroundColor: gray


//CSS
body
  background-color: $backgroundColor
  font-family: "Roboto", arial

#container
  display: flex
  justify-content: center
  align-items: center
  height: 97vh

.clockFill
  width: 85vmin
  height: 85vmin
  border-radius: 50%
  border: 2px solid $backgroundColor
  position: absolute


//Mixins
$second: 360 / 100

@for $i from 0 through 100
  .hourFill-#{$i}
    @if $i < 50
      $nextdeg: 90deg + ($second * $i)
      background-image: linear-gradient(90deg, $backgroundColor 50%, transparent 50%, transparent), linear-gradient($nextdeg, $hourColor 50%, $backgroundColor 50%, $backgroundColor)
    @else
      $nextdeg: -90deg + ($second * ($i - 50))
      background-image: linear-gradient($nextdeg, $hourColor 50%, transparent 50%, transparent), linear-gradient(270deg, $hourColor 50%, $backgroundColor 50%, $backgroundColor)
